body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    margin: 0%;
    
}
img {
    width: 110px;
     height: 140px;
     border-radius: 55%;
     margin-left: 580px;
     margin-top: 30px;
   border:6px solid #021a40;
     


}
#background {
  background-image: url(perkament.gif);
  background-position: center;
  background-size: 115%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed; 
  opacity: 20;

}



h1, p, address{
    text-align: center;
}
#orderForm { 
    max-width: 24vw;
    padding: 8px;
    size: auto;
    margin-left: 90px;

}